# this config needs haproxy-1.1.28 or haproxy-1.2.1

global
	log 127.0.0.1	local0
	log 127.0.0.1	local1 notice
	#log loghost	local0 info
	maxconn 4096
	#chroot /usr/share/haproxy
	user haproxy
	group haproxy
	daemon
	#debug
	#quiet

defaults
	log	global
	mode	http
	option	httplog
	option	forwardfor
        option httpclose
        stats enable
	retries	3
	option redispatch
	maxconn	2000
	contimeout	5000
	clitimeout	50000
	srvtimeout	50000

frontend all 0.0.0.0:1008
        timeout client    86400000
        default_backend   nginx_backend
        
        acl is_faye url_sub faye
        acl is_faye_js url_beg /faye.js
        use_backend faye_backend if is_faye 
        use_backend faye_backend if is_faye_js

        acl is_node path_beg /socket.io 
        use_backend node_backend if is_node

        acl is_smartagent path_beg /smartagent
        use_backend smartagent_backend if is_smartagent

backend faye_backend
        option forwardfor    
        timeout connect 4000    
        timeout server 30000    
        server server1 10.237.204.64:9292 maxconn 1024 check

backend node_backend
        option forwardfor
        timeout connect 4000
        timeout server 30000
        server server1 10.237.204.64:8082 maxconn 1024 check

backend smartagent_backend 
        option forwardfor
        timeout connect 4000
        timeout server 30000
        reqrep ^([^\ ]*)\ /smartagent/(.*)     \1\ /\2
        server server1 127.0.0.1:9090 maxconn 1024 check

backend nginx_backend    
        option forwardfor    
        timeout connect 4000    
        timeout server 86400000    
        server server1 10.237.204.64:880 maxconn 1024 check
